spring:
  application:
    name: productmanagement
    
  datasource:
    url: jdbc:mysql://localhost:3306/product_management_db?createDatabaseIfNotExist=true
    username: root
    password: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  messages:
    basename: messages
    encoding: UTF-8

jwt:
  secret: eW91cl9zdXBlcl9zZWNyZXRfa2V5X3doaWNoX2lzX2F0X2xlYXN0XzMyX2NoYXJzX2xvbmc=
  expiration: 86400000  # 24 hours in milliseconds

server:
  port: 8080
  error:
    include-message: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html